<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Contacts</title>
</head>
<body>
    <a th:href="@{/create}">Create</a>
    <ul>
        <li th:each="contact: ${contacts}">
            <span th:text="${contact.getFullName()}"></span>
            <a th:href="@{|/details/${contact.getId()}|}">View</a>
            <a th:href="@{|/edit/${contact.getId()}|}">Edit</a>
            <a th:href="@{|/delete/${contact.getId()}|}">Delete</a>
        </li>
    </ul>
</body>
</html>